
#h1-override {
	font-family: 'Roboto Slab', serif;
}

#h2-override {
	font-family: 'Roboto', sans-serif;
}

#sub {
	display: inline-block;
	margin-top: 10px;
	font-size: 9pt;
	line-height: 1.5;
	padding-left: 5em;
}